
<div class="container-fluid">
  <div class="loginfrom" [class.mat-elevation-z15]="true"  >
    <img [class.mat-elevation-z5]="true" class="formlogo" src="../../assets/photos.png" >
    <p class="text-c">Sign in</p>
    <br>
    <form [formGroup]="LoginForm" class="example-form" >
       <mat-form-field class="example-full-width">
           <input matInput placeholder="Username" formControlName="username">
           <mat-icon matSuffix>account_circle</mat-icon>
           <mat-error *ngIf="username.invalid && username.untouched">
              Please verify Firstname
           </mat-error>
         </mat-form-field>
       <mat-form-field class="example-full-width">
           <input matInput type="password" placeholder="Password" formControlName="password">
           <mat-icon matSuffix>vpn_key</mat-icon>
           <mat-error *ngIf="password.invalid && password.untouched">
             Please verify Lastname
           </mat-error>
         </mat-form-field>
      <br><br>
       <div class="example-button-row">
         <button [class.mat-elevation-z5]="true" class="matbtn" mat-raised-button color="accent" (click)="authenticateUser()" type="submit"  [disabled]="LoginForm.invalid">Login</button>
       </div>
    </form>
    <hr class="hr-text" data-content="OR">
    <div class="example-button-row">
      <button [class.mat-elevation-z5]="true" class="matbtn" mat-raised-button color="warn"  type="submit"  >Signup</button>
    </div>
  </div>
</div>

