.logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.center{
  width :350px;
  height: 450px;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
