.loginfrom{
  max-width: 350px;
  margin: auto;
  background: white;
  padding: 50px;
  border-radius: 10px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.matbtn{
  width: 100%;

}
.container-fluid{
  height: 800px;
  color: #4e4e4e;

  background: linear-gradient(270deg, #2c3e50, #4ca1af, #12c2e9, #c471ed, #f64f59, #c31432, #240b36, #283c86, #45a247, #000428, #004e92);
  background-size: 2200% 2200%;
  -webkit-animation: AnimationName 57s ease infinite;
  -moz-animation: AnimationName 57s ease infinite;
  animation: AnimationName 57s ease infinite;
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

}
.formlogo{
  width: 70px;
  height: 70px;
  margin-left: 95px;
  margin-top: -130px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
.container-fluid {
  padding: 150px 50px;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #000000, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #000000;
    background-color: #fcfcfa;
  }
}
.text-c{
  color: #202124;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
}

