
<mat-nav-list style="padding:0; padding-bottom:20px; height: fit-content" >
  <img  [class.mat-elevation-z10]="true" src="{{data.img}}"
        style="
         width: 100px;
         height: 100px;
         border-radius: 50%;
         margin: auto;
        ">
<a>
  <mat-chip [class.mat-elevation-z10]="true" style="margin-left: 400px; margin-bottom: 10px;" color="warn" selected (click)="dismiss()"> <mat-icon >close</mat-icon> Close  </mat-chip>
</a>
  <a href="https://docs.google.com/" mat-list-item >

    <span mat-line>{{data.author}}</span>
    <span mat-line>author</span>

  </a>

    <mat-chip-list>
      <mat-chip [class.mat-elevation-z10]="true" color="accent" selected> Download  <mat-icon>cloud_download</mat-icon> </mat-chip>
      <mat-chip [class.mat-elevation-z10]="true" color="accent" selected>Share  <mat-icon>logout</mat-icon>  </mat-chip>
      <mat-chip [class.mat-elevation-z10]="true" color="accent" selected> Share<mat-icon>logout</mat-icon>   </mat-chip>
    </mat-chip-list>

</mat-nav-list>


