<mat-toolbar color="primary">


  <div>Mean</div>

  <span class="example-spacer"></span>

  <nav>
    <ul>
      <button routerLink="/" routerLinkActive="active"  mat-button >Home</button>
      <button routerLink="/dashboard"  mat-button >Dashboard</button>
      <button routerLink="/login"  mat-button >Login</button>
      <button routerLink="/register"   mat-button >Register</button>
    </ul>


  </nav>

  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>

</mat-toolbar>
