
<mat-toolbar color="primary">


  <div>Mean</div>

  <span class="example-spacer"></span>

  <nav>
    <ul>
      <button *ngIf="!auth.isLoggedIn" routerLink="/" routerLinkActive="active"  mat-button >Home</button>
      <button  *ngIf="auth.isLoggedIn" routerLink="/dashboard"  mat-button >Dashboard</button>
      <button  *ngIf="auth.isLoggedIn" routerLink="/admin"  mat-button >Admin</button>
      <button *ngIf="!auth.isLoggedIn"  routerLink="/login"  mat-button >Login</button>
      <button *ngIf="!auth.isLoggedIn"  routerLink="/register"   mat-button >Register</button>
    </ul>


  </nav>
  <button (click)="logout()"   mat-button >
    <mat-icon *ngIf=" auth.isLoggedIn" class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon>
  </button>


</mat-toolbar>
